<button routerLink="/login" *ngIf="!authService.loggedIn()">Login</button>
<button *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Logout</button>

        <form (submit)="dist()">
        <input type="text" [(ngModel)]="searchInput" [ngModelOptions]="{standalone: true}" name="regex" id="regex" nullValue/> 
        <select [(ngModel)]="distance" [ngModelOptions]="{standalone: true}">
            <option value='' selected>Select distance</option>
            <option value="200" >200km</option>
            <option value="5000">5000km</option>
            <option value="10000">10000km</option>
        </select>

        <select [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
                <option value='' selected>Select category</option>
            <option  *ngFor="let cat of categories;" value="{{cat.id}}">{{cat.category_name}}</option>
               
            </select>
                <input type="submit" value="Pretrazi">
        </form>
        <div *ngIf="authService.loggedIn()">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Festival name</th>
                    <th>Bands</th>
                </tr>
            </thead>
            <tbody *ngIf='data'>
                <tr *ngFor="let fest of data;" >
                    <td>{{fest.id}}</td>
                    <td>{{fest.festival_name}}</td>
                    <td>{{fest.band_names}}</td>
                    <td><img src="http://127.0.0.1:8000/{{fest.image_url}}" style="width:50px;height:50px;"></td>
                    <td><button id="{{fest.id}}" (click)="del(fest.id)">del</button></td>
                    <td><button id="{{fest.id}}" routerLink="/update/{{fest.id}}">edit</button></td>
                </tr>
            </tbody>
        </table>
        <button routerLink='/category'>Obrisi kategorije</button>
        <button routerLink='/comments'>Obrisi komentare</button>
    </div>
    <div *ngIf="!authService.loggedIn()">
        <div class="glavni" *ngFor="let fest of data;">
            <div  class="naslov" >
                <b>{{fest.festival_name}}</b>
            </div>
            <div>
                <p>Nastupaju: {{fest.band_names}}</p>
            </div>
        </div>   
    </div>
    